@import "tailwindcss";

.BgImg {
  background-image: url('./images/HeaderBac.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100dvh;
  width: 100%;
  color: #ffffff;

  background-color: rgba(77, 75, 75, 0.5);
  background-blend-mode: overlay;
}

.Kafolat {
  background-image: url('./images/Kafolat.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100dvh;
  width: 100%;
  color: #ffffff;

  background-color: rgba(77, 75, 75, 0.5);
  background-blend-mode: overlay;
}

.Email {
  background-image: url('./images/EmailRasm.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100dvh;
  width: 100%;
  color: #ffffff;

  background-color: rgba(77, 75, 75, 0.5);
  background-blend-mode: overlay;
}

@media (max-width: 768px) {
  .BgImg, .Kafolat, .Email {
    background-attachment: scroll; /* Mobile browsers often have issues with fixed background */
    min-height: 100svh;
  }
}